
<div class="content" role="main">

  <div class="card highlight-card card-big">

        <span>Семейный банк</span>

  </div>

  <div class="card-container">

    <a class="card" rel="noopener" routerLink="/home" routerLinkActive="active">

      <span>Главная</span>

    </a>
    <a class="card" rel="noopener" routerLink="/transaction" routerLinkActive="active">
      <span>Переводы</span>
    </a>

    <a class="card" rel="noopener" routerLink="/contributions" routerLinkActive="active">

      <span>Вклады и счета</span>

    </a>
	<a class="card" rel="noopener" routerLink="/marketplace" routerLinkActive="active">

      <span>Специальные предложения</span>

    </a>
    <a class="card" rel="noopener" routerLink="/expenses" routerLinkActive="active">

      <span>Затраты</span>

    </a>
  </div>
</div>
<router-outlet></router-outlet>>
<div class="container">
  <app-expenses></app-expenses>
</div>
<div class="clear"></div>
    <footer></footer>